/* Custom properties */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --alt-grey: #32425c;
  --alt-grey-light: #a9a9a9;
  --basic-background: #f1f5f7;
  --alt-background: #293449;
  --title-background: #f9f5f0;
  --alt-title-background: #f2f6f8;
  --options-background: #f7f3ec;
  --white: #ffffff;
  --black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --hover-button-red: #ca2c37;
  --active-link-white: rgba(255, 255, 255, 0.5);
  --active-special-yellowlight: rgba(255, 209, 128, 0.5);
  --active-nav-grey: #1d2739;
  --active-buy-button-green: #518534;
  --grey-lighten: #ffffff @0% rgba(255, 255, 255, 0) @100%;
}

/* FONTS */

/* Cuprum-Regular */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

/* Cuprum-Bold */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

/* Cuprum-Italic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

/* Cuprum-BoldItalic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

/* PT Sans-Regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

/* PT Sans-Bold */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* STYLES */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grey);
  background-color: var(--white);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BUTTONS */
.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

/* Состояния: .button */
.button:hover {
  background-color: var(--hover-button-red);
}

.button:active {
  background-color: var(--error);
}

.product-card-button-buy {
  background-color: var(--basic-green);
}

/* Состояния: .buy-button */
.product-card-button-buy:hover {
  background-color: var(--success);
}

.product-card-button-buy:active {
  background-color: var(--active-buy-button-green);
}

.product-card-button-tomarks {
  color: var(--alt-grey);
  background-color: transparent;
}

/* Состояния: .tomarks-button */
.product-card-button-tomarks:hover {
  background-color: transparent;
}

/* TITLES */
.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.title-button {
  background-color: var(--title-background);
}

/* INDEX PAGE STYLES */
/* HEADER */
.header {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--basic-background);
}

.header-top {
  background-color: var(--alt-background);
}

.marks-link,
.cart-link,
.checkout-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

.filled-cart {
  background-color: var(--basic-red);
}

.checkout-link {
  background-color: var(--basic-green);
}

/* Состояния: .marks-link,
.cart-link,
.checkout-link */
.marks-link:hover,
.cart-link:hover,
.checkout-link:hover {
  /* Добавил для будущих
  изменений при наведений
  (заранее) */
  color: var(--white);
}

.checkout-link:hover {
  background-color: var(--success);
}

.marks-link:active,
.cart-link:active,
.checkout-link:active {
  color: var(--active-link-white);
}

.checkout-link:active {
  background-color: var(--basic-green);
}

.header-slogan-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-location-title {
  display: none;
}

.header-phone {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red);
}

.header-adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--alt-grey);
}

.login-link,
.signup-link {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.authorized-user {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.orders,
.personal-area {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--alt-grey);
}

/* Состояния: .orders,
.personal-area,
.authorized-user */
.orders:hover,
.personal-area:hover {
  color: var(--basic-red);
}

.authorized-user:active,
.orders:active,
.personal-area:active {
  color: var(--basic-greylight);
}

/* Состояния: .login-link,
.signup-link */
.login-link:hover,
.signup-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.signup-link:active {
  color: var(--basic-greylight);
}

.main-nav-list {
  background-color: var(--alt-grey);
}

.main-nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

/* Состояния: .main-site-nav-link */
.main-nav-link:hover {
  /* Добавил для будущих
  изменений при наведений
  (заранее) */
  color: var(--white);
  background-color: var(--alt-background);
}

.main-nav-link:active {
  color: var(--active-link-white);
  background-color: var(--active-nav-grey);
}

/* SECTION: promo */
.promo {
  font-family: "Cuprum", "Arial", sans-serif;
}

.promo-main-title {
  display: none;
}

.promo-item:nth-child(1) {
  background-color: var(--warning);
}

.promo-item:nth-child(2) {
  background-color: var(--special-blue);
}

.promo-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.promo-item:nth-child(4) {
  background-color: var(--special-greenlight);
}

.promo-item:nth-child(5) {
  background-color: var(--special-yellow);
}

.promo-item-title {
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.promo-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--active-link-white);
}

/* Состояния: .promo-item-link */
.promo-item-link:hover {
  background-color: var(--basic-greylight);
}

.promo-item-link:active {
  background-color: var(--alt-grey-light);
}

.slide-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slide-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

/* SECTION: popular-products */
.popular-products {
  font-family: "PT Sans", "Arial", sans-serif;
}

.popular-products-main-title {
  color: var(--alt-grey);
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
}

.product-card-old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--alt-grey-light);
}

.product-card-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  background-color: var(--basic-red);
}

/* SECTION: popular-producers */
.popular-producers-main-title {
  color: var(--alt-grey);
}

/* SECTION: services */
.services {
  background-color: var(--basic-background);
}

.services-main-title,
.services-content-title {
  color: var(--black);
}

.services-slogan,
.services-content-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.services-tab-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  background-color: var(--alt-grey);
}

/* Состояния: .services-tab-link */
.services-tab-link:hover {
  background-color: var(--alt-background);
}
.services-tab-link:active {
  color: var(--alt-grey);
  background-color: var(--white);
}

/* SECTION: about */
.about-main-title {
  color: var(--black);
}

.about-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.about-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

/* SECTION: contacts */
.contacts-main-title {
  color: var(--black);
}

.contacts-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

/* FOOTER */
.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--alt-grey);
}

.footer-nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-background);
}

/* Состояния: .footer-nav-link */
.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  color: var(--active-link-white);
}

.footer-adress,
.footer-phone {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-extra-nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--special-yellowlight);
}

/* Состояния: .footer-extra-nav-link */
.footer-extra-nav-link:hover {
  text-decoration: underline;
}

.footer-extra-nav-link:active {
  color: var(--active-special-yellowlight);
}

.footer-bottom {
  background-color: var(--alt-background);
}

.copyright-title,
.socials-title {
  display: none;
}

.copyright-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
}

.feedback,
.madeby {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
}

.feedback-link,
.madeby-link {
  color: var(--special-yellowlight);
}

/* Состояния: .feedback-link,
.madeby-link */
.feedback-link:hover,
.madeby-link:hover {
  text-decoration: underline;
}

.feedback-link:active,
.madeby-link:active {
  color: var(--basic-red);
}

/* CATALOG PAGE STYLES */
.catalog-product-title {
  background-color: var(--alt-title-background);
  color: var(--alt-grey);
}

.bread-crumbs-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.product-filter,
.product-sort {
  background-color: var(--options-background);
}

.product-sort {
  font-family: "PT Sans", "Arial", sans-serif;
}

.product-filter-title {
  display: none;
}

.product-sort-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.product-sort-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  opacity: 0.3;
  border-bottom: var(--basic-red) dotted 1px;
}

.active-sort,
.active-cost {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

.pagination-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.active-pagination {
  background-color: var(--basic-red);
}

.product-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: var(--basic-background);
}

.product-desc-title {
  color: var(--black);
}

.product-desc-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}
