/* Custom properties */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --alt-grey: #32425c;
  --alt-grey-light: #a9a9a9;
  --basic-background: #f1f5f7;
  --alt-background: #293449;
  --title-background: #f9f5f0;
  --white: #ffffff;
  --black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --hover-button-red: #CA2C37;
  --active-link-white: rgba(255, 255, 255, 0.5);
  --active-special-yellowlight: rgba(255, 209, 128, 0.5);
  --active-nav-grey: #1D2739;
  --active-buy-button-green: #518534;
  --grey-lighten: #ffffff @0% rgba(255, 255, 255, 0) @100%;
}

/* FONTS */

/* Cuprum-Regular */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

/* Cuprum-Bold */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

/* Cuprum-Italic */
@font-face {
  font-family: "Cuprum-Italic";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

/* Cuprum-BoldItalic */
@font-face {
  font-family: "Cuprum-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

/* PT Sans-Regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

/* PT Sans-Bold */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* STYLES */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum-Regular", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--white);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* BUTTONS */
.button {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

/* Состояния: .button */
.button:hover {
  background-color: var(--hover-button-red);
}

.button:active {
  background-color: var(--error);
}

.buy-button {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-green);
}

/* Состояния: .buy-button */
.buy-button:hover {
  background-color: var(--success);
}

.buy-button:active {
  background-color: var(--active-buy-button-green);
}

.tomarks-button {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--alt-grey);
  text-transform: uppercase;
}

/* TITLES */
.title {
  font-family: "Cuprum-Regular";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
}

.title-button {
  background-color: var(--title-background);
}

/* HEADER */
.header {
  background-color: var(--basic-background);
}

.header-top {
  background-color: var(--alt-background);
}

.marks-link,
.cart-link,
.checkout-link {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--white);
}

.checkout-link {
  background-color: var(--basic-green);
}

/* Состояния: .marks-link,
.cart-link,
.checkout-link */
.marks-link:hover,
.cart-link:hover,
.checkout-link:hover {
  /* Добавил для будущих
  изменений при наведений
  (заранее) */
  color: var(--white);
}

.checkout-link:hover {
  background-color: var(--success);
}

.marks-link:active,
.cart-link:active,
.checkout-link:active {
  color: var(--active-link-white);
}

.checkout-link:active {
  background-color: var(--basic-green);
}

.header-slogan-text {
  font-family: "Cuprum-Italic";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-location-title {
  display: none;
}

.header-phone {
  font-family: "Cuprum-Bold";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: var(--basic-red);
}

.header-adress {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--alt-grey);
}

.login-link,
.signup-link {
  font-family: "Cuprum-Regular";
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  color: var(--black);
  background-color: var(--white);
}

/* Состояния: .login-link,
.signup-link */
.login-link:hover,
.signup-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.signup-link:active {
  color: var(--basic-greylight);
}

.site-nav {
  list-style: none;
  background-color: var(--alt-grey);
}

.main-site-nav-link {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--white);
}

/* Состояния: .main-site-nav-link */
.main-site-nav-link:hover {
  /* Добавил для будущих
  изменений при наведений
  (заранее) */
  color: var(--white);
  background-color: var(--alt-background)
}

.main-site-nav-link:active {
  color: var(--active-link-white);
  background-color: var(--active-nav-grey);
}

/* SECTION: promo */
.promo-main-title {
  display: none;
}

.promo-list {
  list-style: none;
}

.promo-list-item:first-child {
  background-color: var(--warning);
}

.promo-list-item:nth-child(2) {
  background-color: var(--special-blue);
}

.promo-list-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.promo-list-item:nth-child(4) {
  background-color: var(--special-greenlight);
}

.promo-list-item:nth-child(5) {
  background-color: var(--special-yellow);
}

.promo-list-item-title {
  font-family: "Cuprum-Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: var(--white);
}

.promo-item-link {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--active-link-white);
}


/* Состояния: .promo-item-link */
.promo-item-link:hover {
  background-color: var(--basic-greylight);
}

.promo-item-link:active {
  background-color: var(--alt-grey-light);
}

.slider-list {
  list-style: none;
}

.slide-title {
  font-family: "Cuprum-Bold";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  color: var(--white);
  text-transform: uppercase;
}

.slide-text {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--white);
}

/* SECTION: popular-products */
.popular-products-main-title {
  color: var(--alt-grey);
}

.popular-products-list {
  list-style: none;
}

.popular-products-list-item-title {
  font-family: "PT Sans-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  color: var(--black);
}

.old-product-price {
  font-family: "PT Sans-Bold";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  font-style: normal;
  color: var(--alt-grey-light);
}

.product-price {
  font-family: "PT Sans-Bold";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  font-style: normal;
  color: var(--white);
  text-decoration: none;
  background-color: var(--basic-red);
}

/* SECTION: popular-producers */
.popular-producers-main-title {
  color: var(--alt-grey);
}

.producers-list {
  list-style: none;
}

/* SECTION: services */
.services {
  background-color: var(--basic-background);
}

.services-main-title,
.services-content-title {
  color: var(--black);
}

.services-slogan,
.services-content-text {
  font-family: "PT Sans-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--black);
}

.services-toggle-link-list {
  list-style: none;
}

.services-toggle-link {
  font-family: "Cuprum-Bold";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: var(--white);
  background-color: var(--alt-grey);
}

/* Состояния: .services-toggle-link */
.services-toggle-link:hover {
  background-color: var(--alt-background);
}

.services-toggle-link:active {
  color: var(--alt-grey);
  background-color: var(--white);
}

.services-content-list {
  list-style: none;
}

/* SECTION: about */
.about-main-title {
  color: var(--black);
}

.about-desc {
  font-family: "PT Sans-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--black);
}

.about-list {
  list-style: none;
}

.about-list-item {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--black);
}

/* SECTION: contacts */
.contacts-main-title {
  color: var(--black);
}

.contacts-desc {
  font-family: "PT Sans-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--black);
}

/* FOOTER */
.footer {
  background-color: var(--alt-grey);
}

.footer-site-nav,
.footer-extra-nav,
.socials-list {
  list-style: none;
}

.footer-site-nav-link {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-background);
}

/* Состояния: .footer-site-nav-link */
.footer-site-nav-link:hover {
  text-decoration: underline;
}

.footer-site-nav-link:active {
  color: var(--active-link-white);
}

.footer-adress,
.footer-phone {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-background);
}

.footer-extra-nav-link {
  font-family: "Cuprum-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--special-yellowlight);
}

/* Состояния: .footer-extra-nav-link */
.footer-extra-nav-link:hover {
  text-decoration: underline;
}

.footer-extra-nav-link:active {
  color: var(--active-special-yellowlight);
}

.footer-bottom {
  background-color: var(--alt-background);
}

.copyright-title,
.socials-title {
  display: none;
}

.copyright-text {
  font-family: "Cuprum-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--white);
}

.feedback,
.madeby {
  font-family: "Cuprum-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--white);
}

.feedback-link,
.madeby-link {
  color: var(--special-yellowlight);
}

/* Состояния: .feedback-link,
.madeby-link */
.feedback-link:hover,
.madeby-link:hover {
  text-decoration: underline;
}

.feedback-link:active,
.madeby-link:active {
  color: var(--basic-red);
}
